.article h2, .arc_content h2 {
    width: 80%;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    margin-top: 20px;
}
.article h3, .arc_content h3 {
    margin-top: 20px;
}
.article p, .arc_content p {
    font-size: 18px;
    box-shadow: none;
    border: 1px solid #b0b5a8;
    background-color: #EFF2F2;
    border-radius: 0;
    color: #2C3E50;
    width: 100%;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.article a, .arc_content a{
    text-decoration: none;
    color: #4db6ac;
}