<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/tags.css">
    <link rel="stylesheet" href="/static/css/comments.css">
    <script type="text/javascript" src="/static/js/tags.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $.ajax({
            url: 'https://disqus.com/api/3.0/forums/listPosts.json?',
            dataType: 'json',
            data: {
                "forum": 'tipo',
                "api_key": 'Ba2FiIZgbu5YBXHe6hnWFhYxGw82yCrljRBalPrfzlKF46PRHTHS0xNrLRiei7mM',
                "limit": '5'
            }
        }).done(function(res) {
            if(res.code === 0) {
                $('<span>最新评论</span>').appendTo('#sp');
                for (var i = 0; i < res.response.length; i++) {
                    console.log(res.response[i]);
                    $('<span><a href=' + res.response[i].url+ '> ' + res.response[i].author.name+ '</a><p>'+res.response[i].raw_message.substring(0, 8) + '...</p>' +'</span><br>').appendTo('#recentComments');
                }
                $('#comment').toggleClass('comment');
            }
        }).fail(function() {

        });
    </script>
</head>
<body>
    <div class="navigation">
        <div class="content">
            <div class="nav">
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/archive">ARCHIVE</a></li>
                    <li class="activeItem"><a href="/about">ABOUT</a></li>
                </ul>
            </div>
            <div class="nav_con">
				<span class="name"><a href="/">Tipo</a></span>
                <br />
                <div style="float: left;width: 100%">
                    <span class="subname">十年生死两茫茫，不思量自难忘</span>
                    <div style="">
                        <img src="/static/assets/search.png" />
                        <input type="text" placeholder="搜索" />
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="blog">
        <div class="blog_l">
            <div class="blog_left">
                <h1>ABOUT ME</h1>
                <h2 style="margin-top: 20px;margin-bottom: 10px;color: #4db6ac;font-weight: 400;">关于工作</h2>
                <span>约12岁接触编程，14岁开始沉迷</span><br>
                    <span>沉浸在该领域已超10年，目前约6年正式工作经验</span><br>
                    <span>做过好几年游戏</span><br>
                    <span>离开游戏行业后以联合创始人身份开始创业，互联网金融方向</span><br>
                <h2 style="margin-top: 20px;margin-bottom: 10px;color: #4db6ac;font-weight: 400;">性格</h2>
                <span>中二病晚期患者</span><br />
                    <span>网络上是个热血青年，现实里其实很温文尔雅很随和（自评）</span><br />
                    <span>对亲人朋友负责，信守承诺</span><br />
                    <span>有不计报酬的工作习惯，有强烈的掌控欲望</span><br />
                    <span>乐于助人，好为人师（人之患）</span><br />
                    <span>不喜欢在投入时被打扰</span><br />
                    <span>如果你信任我那么我也信任你</span><br />
                    <span>有时候说话像个大叔， 实际上是个怪蜀黍</span><br />
                    <span>发怒时很可怕</span><br />
                    <span>不婚主义者</span>
                <h2 style="margin-top: 20px;margin-bottom: 10px;color: #4db6ac;font-weight: 400;">关于生活</h2>
                <span>平时喝咖啡，认为这是一种健康的生活方式</span><br />
                    <span>最近在增肥和锻炼身体</span><br />
                    <span>经常尝试不同的食物，热爱粤菜（从来长不胖）</span><br />
                    <span>自认为厨艺还凑合，桌面上总有一堆零食，喜欢各种饮料</span><br />
                    <span>喜欢登山、跑步</span><br />
                    <span>会弹钢琴，喜欢戏剧（遗传）</span><br />
                    <span>喜欢久石让的音乐，喜欢交响乐，也爱流行曲</span><br />
                    <span>去过很多地方，但都不是因为旅游</span><br />
                    <span>有对我很宽容的父母，很感谢他们让我干我喜欢的事</span><br />
                    <span>想学很多东西，目前爱好相当广泛  </span>
			</div>
		</div>

	<div class="blog_right">
            <div class="recent">
                <span>最近更新</span>
                <div style="margin-top: 26px">
                    {% for latest in latest_blog %}
                    <p><a href={{ latest.url() }}>{{ latest.title }}</a></p>
                    {% endfor %}
                </div>
            </div>
            <div id="comment">
                <div id="sp"></div>
                <div id="recentComments" style="margin-top: 26px">

                </div>
            </div>
            <div class="archive">
                <span>ARCHIVE</span>
                <div style="margin-top: 26px">
					{% for i in month %}
					<div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
						<a href="/month/{{ i[:4] }}/{{ i[5:7] }}" style="text-decoration: none">
						<span class="year" style="color: #000">{{ i[7:11] }}</span>
						<span class="month">{{ i[11:] }}</span>
						<span class="number">({{ month[i] }})</span>
                        </a>
					</div>
					{% endfor %}
                </div>
            </div>
            <div class="tagsList">
                <span>TAGS</span>
                <div class="tags">
                    {% for tag in tags %}
						<a href="/tag/{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>

    <div class="foot">
		<p>Powered by <a href="https://github.com/knowncold/Tipo">Tipo</a></p>
    </div>
</body>
</html>
