<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
    <div class="navigation">
        <div class="content">
            <div class="nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="archive.html">ARCHIVE</a></li>
                    <li class="activeItem"><a href="about.html">ABOUT</a></li>
                </ul>
            </div>
            <div class="nav_con">
                <span class="name">Tipo</span>
                <br />
                <div style="float: left;width: 100%">
                    <span class="subname">十年生死两茫茫，不思量自难忘</span>
                    <div style="">
                        <img src="../static/assets/search.png" />
                        <input type="text" placeholder="搜索" />
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>
</html>