<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/tags.css">
    <script type="text/javascript" src="/static/js/tags.js"></script>
</head>
<body>
    <div class="navigation">
        <div class="content">
            <div class="nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="archive.html">ARCHIVE</a></li>
                    <li class="activeItem"><a href="about.html">ABOUT</a></li>
                </ul>
            </div>
            <div class="nav_con">
                <span class="name">Tipo</span>
                <br />
                <div style="float: left;width: 100%">
                    <span class="subname">十年生死两茫茫，不思量自难忘</span>
                    <div style="">
                        <img src="/static/assets/search.png" />
                        <input type="text" placeholder="搜索" />
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="blog">
        <div class="blog_l">
            <div class="blog_left">
                <h1>ABOUT ME</h1>
                <h3>关于咸鱼
                    挣扎在东北末流985，我差不多已经是一条咸鱼了。</h3>
            </div>
        </div>

        <div class="blog_right">
            <div class="recent">
                <span>最近更新</span>
                <div style="margin-top: 26px">
                    {% for latest in latest_blog %}
                    <p>{{ latest["title"] }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="comment">
                <span>评论区</span>
                <div style="margin-top: 26px">
                    <div style="border-bottom: 1px solid #eee;width: 100%;padding-bottom: 4px;padding-left: 10px;height: 40px;line-height: 40px">
                        <span class="author">海飞丝</span><span class="com">评论：</span><span class="tosay">八百</span>
                    </div>
                    <div style="border-bottom: 1px solid #eee;width: 100%;padding-bottom: 4px;padding-left: 10px;height: 40px;line-height: 40px">
                        <span class="author">海飞丝</span><span class="com">评论：</span><span class="tosay">七百</span>
                    </div>
                    <div style="border-bottom: 1px solid #eee;width: 100%;padding-bottom: 4px;padding-left: 10px;height: 40px;line-height: 40px">
                        <span class="author">海飞丝</span><span class="com">评论：</span><span class="tosay">六百</span>
                    </div>
                    <div style="border-bottom: 1px solid #eee;width: 100%;padding-bottom: 4px;padding-left: 10px;height: 40px;line-height: 40px">
                        <span class="author">海飞丝</span><span class="com">评论：</span><span class="tosay">五百</span>
                    </div>
                    <div style="border-bottom: 1px solid #eee;width: 100%;padding-bottom: 4px;padding-left: 10px;height: 40px;line-height: 40px">
                        <span class="author">海飞丝</span><span class="com">评论：</span><span class="tosay">四百</span>
                    </div>
                </div>
            </div>
            <div class="archive">
                <span>ARCHIVE</span>
                <div style="margin-top: 26px">
                    <div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
                        <span class="year">2017</span>
                        <span class="month">NOV</span>
                        <span class="number">(3)</span>
                    </div>
                    <div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
                        <span class="year">2017</span>
                        <span class="month">OCT</span>
                        <span class="number">(4)</span>
                    </div>
                    <div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
                        <span class="year">2017</span>
                        <span class="month">SEP</span>
                        <span class="number">(1)</span>
                    </div>
                    <div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
                        <span class="year">2017</span>
                        <span class="month">AUG</span>
                        <span class="number">(5)</span>
                    </div>
                    <div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
                        <span class="year">2017</span>
                        <span class="month">JUL</span>
                        <span class="number">(9)</span>
                    </div>
                </div>
            </div>
            <div class="tagsList">
                <span>TAGS</span>
                <div class="tags">
                    <!--<a href="#/Article.aspx?kid=1" title="星级评分">星级评分</a>-->
                    {% for tag in tag_cloud %}
                    <a href="#/Article.aspx?kid=1" title="星级评分">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="clear">

        </div>
    </div>

    <div class="foot">
        <p>Designed by emobaba, powered by Flask</p>
    </div>
</body>
</html>