<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Archive</title>
    <link rel="stylesheet" href="/static/css/archive.css">
</head>
<body>
    <div class="navigation">
        <div class="content">
            <div class="nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li class="activeItem"><a href="archive.html">ARCHIVE</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                </ul>
            </div>
            <div class="nav_con">
                <span class="name">Tipo</span>
                <br />
                <div style="float: left;width: 100%">
                    <span class="subname">十年生死两茫茫，不思量自难忘</span>
                    <div style="">
                        <img src="/static/assets/search.png" />
                        <input type="text" placeholder="搜索" />
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="archive">
        <div class="archive_l">
            <div class="archive_left">
                <h1>January</h1>
                <ul>
                    <li>伪装成独白的爱情</li>
                    <li>霍乱时期的爱情</li>
                    <li>不能承受的生命之轻</li>
                    <li>窗边的小豆豆</li>
                    <li>你的孤独，虽败犹荣</li>
                </ul>
            </div>
        </div>
        <div class="archive_r">

        </div>
        <div class="clear"></div>
    </div>
</body>
</html>