<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            Tipo
        </title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body>
        <div class="navigation">
            <div class="content">
                <div class="nav">
                    <ul>
                        <li class="activeItem">HOME</li>
                        <li>ARCHIVE</li>
                        <li>ABOUT</li>
                    </ul>
                </div>
                <div class="nav_con">
                    <span class="name">Tipo</span>
                    <br />
                    <div style="float: left;width: 100%">
                        <span class="subname">十年生死两茫茫，不思量自难忘</span>
                        <input type="text" placeholder="搜索" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
