<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            Tipo
        </title>
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/tags.css">
        <script type="text/javascript" src="/static/js/tags.js"></script>
    </head>
    <body>
        <div class="navigation">
            <div class="content">
                <div class="nav">
                    <ul>
                        <li class="activeItem">HOME</li>
                        <li>ARCHIVE</li>
                        <li>ABOUT</li>
                    </ul>
                </div>
                <div class="nav_con">
                    <span class="name">Tipo</span>
                    <br />
                    <div style="float: left;width: 100%">
                        <span class="subname">十年生死两茫茫，不思量自难忘</span>
                        <div style="">
                            <img src="/static/assets/search.png" />
                            <input type="text" placeholder="搜索" />
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="blog">
            <div class="blog_l">
				{% for blog in blog_list %}
				<div class="blog_left">
					<h1>{{ blog.title }}</h1>
                    <div style="white-space: nowrap;">
                        <h4>苟利国家生死以，岂因祸福避趋之</h4>
                        <p>江川蛤泽</p>
                        <p>qwe</p>
                        <p>web</p>
                        <p>ctf</p>
                    </div>
                    <div class="article">
						{{ blog.content }}
                    </div>
                    <div class="blog_foot">
                        <a style="color: #4db6ac;font-weight: 100">阅读更多</a>
						<span style="float: right;color: #ccc;">热度：{{ blog.pageview }}</span>
                    </div>
                </div>

				{% endfor %}
           </div>

            <div class="blog_right">
                <div class="recent">
                    <span>最近更新</span>
                    <div style="margin-top: 26px">
                        <p>八百</p>
                        <p>七百</p>
                        <p>六百</p>
                        <p>五百</p>
                        <p>四百</p>
                    </div>
                </div>
                <div class="comment">
                    <span>评论区</span>
                    <div style="margin-top: 26px">
                        <div style="border-bottom: 1px solid #eee;width: 100%;padding-bottom: 4px;padding-left: 10px;height: 40px;line-height: 40px">
                            <span class="author">海飞丝</span><span class="com">评论：</span><span class="tosay">八百</span>
                        </div>
                        <div style="border-bottom: 1px solid #eee;width: 100%;padding-bottom: 4px;padding-left: 10px;height: 40px;line-height: 40px">
                            <span class="author">海飞丝</span><span class="com">评论：</span><span class="tosay">七百</span>
                        </div>
                        <div style="border-bottom: 1px solid #eee;width: 100%;padding-bottom: 4px;padding-left: 10px;height: 40px;line-height: 40px">
                            <span class="author">海飞丝</span><span class="com">评论：</span><span class="tosay">六百</span>
                        </div>
                        <div style="border-bottom: 1px solid #eee;width: 100%;padding-bottom: 4px;padding-left: 10px;height: 40px;line-height: 40px">
                            <span class="author">海飞丝</span><span class="com">评论：</span><span class="tosay">五百</span>
                        </div>
                        <div style="border-bottom: 1px solid #eee;width: 100%;padding-bottom: 4px;padding-left: 10px;height: 40px;line-height: 40px">
                            <span class="author">海飞丝</span><span class="com">评论：</span><span class="tosay">四百</span>
                        </div>
                    </div>
                </div>
                <div class="archive">
                    <span>ARCHIVE</span>
                    <div style="margin-top: 26px">
                        <div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
                            <span class="year">2017</span>
                            <span class="month">NOV</span>
                            <span class="number">(3)</span>
                        </div>
                        <div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
                            <span class="year">2017</span>
                            <span class="month">OCT</span>
                            <span class="number">(4)</span>
                        </div>
                        <div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
                            <span class="year">2017</span>
                            <span class="month">SEP</span>
                            <span class="number">(1)</span>
                        </div>
                        <div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
                            <span class="year">2017</span>
                            <span class="month">AUG</span>
                            <span class="number">(5)</span>
                        </div>
                        <div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
                            <span class="year">2017</span>
                            <span class="month">JUL</span>
                            <span class="number">(9)</span>
                        </div>
                    </div>
                </div>
                <div id="tagsList">
                    <a href="#/Article.aspx?kid=1" title="星级评分">星级评分</a>
                    <a href="#/Article.aspx?kid=2" title="层特效">层特效</a>
                    <a href="#/Article.aspx?kid=3" title="关键字">关键字</a>
                    <a href="#/Article.aspx?kid=4" title="拖拽">拖拽</a>
                    <a href="#/Article.aspx?kid=5" title="分页插件">分页插件</a>
                    <a href="#/Article.aspx?kid=6" title="时间插件">时间插件</a>
                    <a href="#/Article.aspx?kid=7" title="弹出层">弹出层</a>
                    <a href="#/Article.aspx?kid=8" title="数据统计">数据统计</a>
                    <a href="#/Article.aspx?kid=9" title="HTML5">HTML5</a>
                    <a href="#/Article.aspx?kid=10" title="置顶特效">置顶特效</a>
                    <a href="#/Article.aspx?kid=11" title="选项卡">选项卡</a>
                    <a href="#/Article.aspx?kid=12" title="导航菜单">导航菜单</a>
                    <a href="#/Article.aspx?kid=13" title="原创">原创</a>
                    <a href="#/Article.aspx?kid=14" title="动画插件">动画插件</a>
                    <a href="#/Article.aspx?kid=15" title="实用特效">实用特效</a>
                    <a href="#/Article.aspx?kid=16" title="table插件">table插件</a>
                    <a href="#/Article.aspx?kid=17" title="文字特效">文字特效</a>
                    <a href="#/Article.aspx?kid=18" title="图片特效">图片特效</a>
                    <a href="#/Article.aspx?kid=19" title="在线客服">在线客服</a>
                    <a href="#/Article.aspx?kid=20" title="瀑布流">瀑布流</a>
                    <a href="#/Article.aspx?kid=21" title="网友蘑菇">网友蘑菇</a>
                </div>
            </div>
            <div class="clear">

            </div>
        </div>

        <div class="foot">
            <p>Designe by emobaba, power by emobaba</p>
        </div>
    </body>
</html>
