<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link rel="stylesheet" href="/static/css/blog_detail.css">
    <link rel="stylesheet" href="/static/css/tags.css">
    <link rel="stylesheet" href="/static/css/comments.css">
    <script type="text/javascript" src="/static/js/tags.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $.ajax({
            url: 'https://disqus.com/api/3.0/forums/listPosts.json?',
            dataType: 'json',
            data: {
                "forum": 'tipo',
                "api_key": 'Ba2FiIZgbu5YBXHe6hnWFhYxGw82yCrljRBalPrfzlKF46PRHTHS0xNrLRiei7mM',
                "limit": '5'
            }
        }).done(function(res) {
            for (var i = 0; i < res.response.length; i++) {
                $('<span><a href=' + res.response[i].url+ '> ' + res.response[i].author.name+ '</a><p>'+res.response[i].raw_message.substring(0,8) +'...</p></span><br>').appendTo('#recentComments');
            }
        }).fail(function() {
        });
    </script>
</head>
<body>
    <div class="navigation">
        <div class="content">
            <div class="nav">
                <ul>
                    <li class="activeItem"><a href="/index">HOME</a></li>
                    <li><a href="/archive">ARCHIVE</a></li>
                    <li><a href="/about">ABOUT</a></li>
                </ul>
            </div>
            <div class="nav_con">
                <span class="name">Tipo</span>
                <br />
                <div style="float: left;width: 100%">
                    <span class="subname">十年生死两茫茫，不思量自难忘</span>
                    <div style="">
                        <img src="/static/assets/search.png" />
                        <input type="text" placeholder="搜索" />
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="detail_l">
            <div class="detail_left">
				<h1 style="font-weight: 400">{{ blog.title }}</h1>
				<h5 style="color: #aaa;font-weight: 100">{{ blog.date() }} 发布在 <a href="/category/{{ blog.category }}" style="text-decoration: none;color: #aaa">{{ blog.category }}</a></h5>
                <div class="arc_content">
					{{ blog.content }}
                    <h1>在北风渐行的冬夜，如果遇见了月色，那一定是非常幸运的事了。</h1>

                    <h2>如果可以，此刻应该忘掉冬的萧瑟、寒冷、干燥等词汇。因为在徽州的冬日里，这些都是不存在的。这里的冬，许多树木都是四季常青的，秋后都能看的见茂密的垂柳。这里的冬，不似北方那样单纯的寒冷至极，而是不管你裹得有多严实，阴冷的空气也能窜进领子，灌入袖口、透着骨子的浑身冰凉。这里的冬，更散发着阴阴的湿气，因为多雨，所以很少有清朗的天气。即便是有雪，也面目全非。

                        其实南方的冬和北方的冬夜，差别不仅仅体现于地理环境和气候特征。因为只要日暮落尽，内心的情感会显得格外的不同。以前对于冬夜的印像最深的是刘长卿先生的《逢雪宿芙蓉山主人》："日暮苍山远，天寒白屋贫。柴门闻犬吠，风雪夜归人。"诗中语言精简，由远及近，动静结合的描写出冬夜的景色，情、景、物、人四大意像更是相融的自然恰到好处。

                        大概是因为从小在乡间、田间长大，浑身上下充满乡间自然的清、静之气。骨子里刻着的是踏实二字。野，相对于陌生环境是内敛的。所以每次离开家，即便不是远走他乡，冬夜里睡在一个陌生的地方总是难眠的。在他乡的冬夜，不用刻意的去想、去看。感情便在凛冽的寒风中开始酝酿，像泔澈的沟渠，在乡间的小路上缓缓流淌。水光潋滟的窗纱，上了一层茭白釉色的枝桠。莹莹中那一剪光，镜与水中盛开的明月，犹如一朵俊俏的腊梅画。冬夜，冷而清明，纯净优美，念念不住，在某一个层次上，像极了我们的心。

                        我曾想把珍贵的人留在身边，在这个人世间，未来不是一个人去独自面对。我曾想把美好的回忆写在心底，在这个人世间，幸福不是一个人的清欢寡味。我也曾想把看过的风景锁在笔下，在这个人世间，岁月也不是一个人始终温柔相对。一切都是因为情感的孤独，渴望能与人交流，和熟悉的人交流。思念是一种非常奇妙的情绪。可以触景生情，可以凭空而来，但却不能忘掉风景，凭空去</h2>。
                </div>
                <div class="tag">
                    <p style="color: #B2BCC2;margin-bottom: 15px">标签</p>
					{% for tag in blog.tag %}
						<span><a href="/tag/{{ tag }}" style="text-decoration: none;color: #4db6ac">{{ tag }}</a></span>
					{% endfor %}
                </div>
                <div id="disqus_thread"></div>
                <script>

                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://tipo.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div>
        <div class="blog_right">
            <div class="recent">
                <span>最近更新</span>
                <div style="margin-top: 26px">
					{% for latest in latest_blog %}
						<p><a href={{ latest.url() }}>{{ latest.title }}</a></p>
					{% endfor %}
                </div>
            </div>
            <div class="comment">
                <span>最新评论</span>
                <div id="recentComments" style="margin-top: 26px">

                </div>
            </div>
            <div class="archive">
                <span>ARCHIVE</span>
                <div style="margin-top: 26px">
					{% for i in month %}
					<div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
						<a href="/month/{{ i[:4] }}/{{ i[5:7] }}" style="text-decoration:none;">
						<span class="year" style="color:#000">{{ i[7:11] }}</span>
						<span class="month">{{ i[11:] }}</span>
						<span class="number">({{ month[i] }})</span>
                        </a>
					</div>
					{% endfor %}
                </div>
            </div>
            <div class="tagsList">
                <span>TAGS</span>
                <div class="tags">
					{% for tag in tags %}
						<a href="/tag/{{ tag }}" title="{{ tag }}">{{ tag }}</a>
					{% endfor %}
                </div>
            </div>
        </div>
        <div class="clear">

        </div>
    </div>
    <div class="foot">
		<p>Powered by <a href="https://github.com/knowncold/Tipo">Tipo</a></p>
    </div>
</body>
</html>
