<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>{{ blog.title }}</title>
    <link rel="stylesheet" href="/static/css/blog_detail.css">
    <link rel="stylesheet" href="/static/css/tags.css">
    <link rel="stylesheet" href="/static/css/comments.css">
    <script type="text/javascript" src="/static/js/tags.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $.ajax({
            url: 'https://disqus.com/api/3.0/forums/listPosts.json?',
            dataType: 'json',
            data: {
                "forum": 'tipo',
                "api_key": 'Ba2FiIZgbu5YBXHe6hnWFhYxGw82yCrljRBalPrfzlKF46PRHTHS0xNrLRiei7mM',
                "limit": '5'
            }
        }).done(function(res) {
            if(res.code === 0) {
                $('<span>最新评论</span>').appendTo('#sp');
                for (var i = 0; i < res.response.length; i++) {
                    console.log(res.response[i]);
                    $('<span><a href=' + res.response[i].url+ '> ' + res.response[i].author.name+ '</a><p>'+res.response[i].raw_message.substring(0, 12) + '...</p>' +'</span><br>').appendTo('#recentComments');
                }
                $('#comment').toggleClass('comment');
            }
        }).fail(function() {

        });
    </script>
</head>
<body>
    <div class="navigation">
        <div class="content">
            <div class="nav">
                <ul>
                    <li class="activeItem"><a href="/index">HOME</a></li>
                    <li><a href="/archive">ARCHIVE</a></li>
                    <li><a href="/about">ABOUT</a></li>
                </ul>
            </div>
            <div class="nav_con">
				<span class="name"><a href="/">Tipo</a></span>
                <br />
                <div style="float: left;width: 100%">
                    <span class="subname">十年生死两茫茫，不思量自难忘</span>
                    <div style="">
                        <img src="/static/assets/search.png" />
                        <input type="text" placeholder="搜索" />
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="detail_l">
            <div class="detail_left">
				<h1 style="font-weight: 400">{{ blog.title }}</h1>
				<h5 style="color: #aaa;font-weight: 100">{{ blog.date() }} 发布在 <a href="/category/{{ blog.category }}" style="text-decoration: none;color: #aaa">{{ blog.category }}</a></h5>
                <div class="arc_content">
						{% autoescape false %}
						{{ blog.content }}
						{% endautoescape %}
                </div>
                <div class="tag">
                    <p style="color: #B2BCC2;margin-bottom: 15px">标签</p>
					{% for tag in blog.tag %}
						<span><a href="/tag/{{ tag }}" style="text-decoration: none;color: #4db6ac">{{ tag }}</a></span>
					{% endfor %}
                </div>
                <div id="disqus_thread"></div>
                <script>

                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://tipo.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div>
        <div class="blog_right">
            <div class="recent">
                <span>最近更新</span>
                <div style="margin-top: 26px">
					{% for latest in latest_blog %}
						<p><a href={{ latest.url() }}>{{ latest.title }}</a></p>
					{% endfor %}
                </div>
            </div>
            <div id="comment">
                <div id="sp"></div>
                <div id="recentComments" style="margin-top: 26px">

                </div>
            </div>
            <div class="archive">
                <span>归档</span>
                <div style="margin-top: 26px">
					{% for i in month %}
					<div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
						<a href="/month/{{ i[:4] }}/{{ i[5:7] }}" style="text-decoration:none;">
						<span class="year" style="color:#000">{{ i[7:11] }}</span>
						<span class="month">{{ i[11:] }}</span>
						<span class="number">({{ month[i] }})</span>
                        </a>
					</div>
					{% endfor %}
                </div>
            </div>
            <div class="tagsList">
                <span>标签</span>
                <div class="tags">
					{% for tag in tags %}
						<a href="/tag/{{ tag }}" title="{{ tag }}">{{ tag }}</a>
					{% endfor %}
                </div>
            </div>
        </div>
        <div class="clear">

        </div>
    </div>
    <div class="foot">
		<p>Powered by <a href="https://github.com/knowncold/Tipo">Tipo</a></p>
    </div>
</body>
</html>
